{% extends "base.html" %}
{% block title %} - Forbidden{% endblock %}
{% block content %}
  <h1>403 Forbidden</h1>
  <p>Es tut uns Leid. Leider haben Sie keinen Zugriff auf diese Seite.</p>
  <p><a href="{{ url_for('main') }}">Zurück zur Startseite.</a></p>
{% endblock %}