{% extends "base.html" %}
{% block title %} - Page Not Found{% endblock %}
{% block content %}
  <h1>404 Page Not Found</h1>
  <p>Es tut uns Leid. Diese Seite existiert nicht.</p>
  <p><a href="{{ url_for('main') }}">Zurück zur Startseite.</a></p>
{% endblock %}