{% extends "base.html" %}
{% block title %} - Server error{% endblock %}
{% block content %}
    <h1>500 Server error</h1>
    <p>Etwas ist schief gelaufen.</p>
    <p> Bitte versuchen Sie es später noch einmal oder kontaktieren Sie den Seitenbetreiber:<a
            href="mailto:info@0x05.de">info@0x05.de</a></p>
{% endblock %}