body {
    padding-top: 70px;
}

.list-group > a.disabled {
    color: #999999;
}

.list-group > a.disabled:hover,
.list-group > a.disabled:focus {
    color: #999999;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
}

.background-text {
    background: rgba(0, 0, 0, 0.5);
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("/static/img/bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
    color: lightgrey;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #eee;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.panel-transparent .panel-heading {
    color: black;
}

.panel-transparent .panel-body {
    color: black;
}
.top-buffer { margin-top:20px; }

.spinner {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .1 )
                url("/static/img/gears.gif")
                50% 50%
                no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .spinner {
    display: block;
}