{% extends "base.html" %}
{% block title %} - Über diese Seite {% endblock %}
{% block content %}

    <h1>Über diese Seite</h1>

    <p>Diese Seite wurde im Rahmen einer Code Competition von
        <a href="https://www.it-talents.de/" target="_blank">https://www.it-talents.de/</a> erstellt, ist Open
        Source und befindet sich unter ständiger weiterentwicklung.</p>

    <p>Die Daten für die Auswertung werden von der <a href="https://creativecommons.tankerkoenig.de/" target="_blank">
        Tankerkönig API</a> bezogen.</p>

    <p>Die Detailseite nutzt die
        <a href="https://developers.google.com/maps/documentation/embed/" target="_blank">Google Maps Embed API</a>.</p>

    <p>Ihre Daten werden verschlüsselt mit SSL übertragen. Das Zertifikat stammt von <a href="https://letsencrypt.org/"
                                                                                        target="_blank">Let's
        Encrypt</a>.</p>
    <p>Falls Sie Fehler entdecken, Kritik oder Vorschläge haben melden Sie sich gerne über das
        <a href="{{ url_for('contact') }}"> Kontaktformular</a>.</p>

    <h3>Folgende Technologien kommen zum Einsatz:</h3>
    <p>Programmier-/Beschreibungssprachen:</p>
    <ul>
        <li><a href="https://www.python.org/" target="_blank">Python 3.5.1</a></li>
        <li><a href="https://www.w3.org/html/" target="_blank">HTML</a> + <a href="http://www.w3schools.com/css/"
                                                                             target="_blank">CSS</a></li>
        <li><a href="http://www.w3schools.com/js/" target="_blank">Javascript</a></li>
        <li><a href="http://www.w3schools.com/sql/" target="_blank">SQL</a></li>
    </ul>
    <p>Frameworks und Module:</p>
    <ul>
        <li><a href="http://flask.pocoo.org/" target="_blank">Flask</a> + <a href="http://jinja.pocoo.org/"
                                                                             target="_blank">Jinja2</a></li>
        <li><a href="https://geopy.readthedocs.io" target="_blank">GeoPy</a></li>
        <li><a href="http://docs.python-requests.org/" target="_blank">Requests</a></li>
        <li><a href="http://dataset.readthedocs.io/" target="_blank">Dataset</a></li>
        <li><a href="http://www.pygal.org/" target="_blank">Pygal</a></li>
        <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
        <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
        <li><a href="http://fontawesome.io/" target="_blank">Font Awesome</a></li>
    </ul>
    <p>Servertechnologien:</p>
    <ul>
        <li><a href="https://www.debian.org/" target="_blank">Debian Linux</a></li>
        <li><a href="https://nginx.org/" target="_blank">nginx</a></li>
        <li><a href="http://gunicorn.org/" target="_blank">gunicorn</a></li>
        <li><a href="https://http2.github.io/" target="_blank">http/2</a></li>
    </ul>



{% endblock %}