<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tankstellen Preisvergleich{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/custom.css" rel="stylesheet" media="screen">

    {# Cookies #}
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "Diese Webseite nutzt Cookies.",
            "dismiss": "Verstanden!",
            "learnMore": "Weitere Infos",
            "link": "https://tanken.0x05.de/legal/",
            "theme": "light-floating"
        };
    </script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>

    {% block head_block %}

    {% endblock %}


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="/"> Tankstellen Preisvergleich</a>-->
            <a class="navbar-brand" href="{{ url_for('comparison') }}"> Tankstellen Preisvergleich</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <!--
                <li {% if request.path==
                '/' %}class="active"{% endif %}>
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                </li>-->
                <li {% if request.path==
                '/comparison/' %}class="active"{% endif %}>
                    <a href="{{ url_for('comparison') }}"><i class="fa fa-automobile"></i> Preisvergleich</a>
                </li>
                <li {% if request.path==
                '/about/' %}class="active"{% endif %}>
                    <a href="{{ url_for('about') }}"><i class="fa fa-question-circle"></i> Über</a>
                </li>
                <li {% if request.path==
                '/contact/' %}class="active"{% endif %}>
                    <a href="{{ url_for('contact') }}"><i class="fa fa-envelope"></i> Feedback</a>
                </li>
                <li {% if request.path==
                '/legal/' %}class="active"{% endif %}>
                    <a href="{{ url_for('legal') }}"><i class="fa fa-info-circle"></i> Impressum</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div id="wrap">
    <div class="container background-text">

        <div class="starter-template">{% block content %}{% endblock %}</div>

    </div>
    <!-- /.container -->
    <div id="push"></div>
</div>
<footer class="footer">

</footer>

{# Google Analytics #}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ config['GANALYTICS_KEY'] }}', 'auto');
  ga('send', 'pageview');

</script>

<div class="spinner"></div>
</body>
</html>
