{% extends "base.html" %}
{% block title %} - Preisvergleich {% endblock %}
{% block head_block %}
    <link href="/static/css/bootstrap-slider.min.css" rel="stylesheet" media="screen">
    <style>
        #ex1Slider .slider-selection {
            background: #BABABA;
        }
    </style>
    <script src="/static/js/bootstrap-slider.min.js" type="text/javascript"></script>
{% endblock %}
{% block content %}

    <div class="col-md-8">
        <h1>Preisvergleich - Suche</h1>
        <div class="alert alert-danger" id="error" hidden>
        </div>
        <div class="alert alert-success" id="success" hidden><strong>Erfolg: </strong>Ihr Standort wurde erfolgreich
            ermittelt
        </div>
        {% if msg %}
            <div class="alert alert-danger" id="formerror">
                <p>{{ msg }}</p>
            </div>
        {% endif %}

        <form action="." method="POST" class="form-horizontal">
            <div class="form-group">

                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="address">Adresse oder Postleitzahl:</label>
                    </div>

                    <div class="col-sm-8">
                        <div class="input-group">
                            <input class="form-control" id="address" type="text" name="address"
                                   placeholder="Adresse, Postleitzahl oder...">
                        <span class="input-group-btn">
                        <button type="button" onclick="getLocation()" class="btn btn-default" name="geo">Standort
                            ermitteln
                        </button>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-4"><label for="radioall"> Typ:</label></div>
                    <div class="col-sm-4">
                        <div class="radio">
                            <label><input id="radioall" type="radio" name="type" value="all"
                                          checked="checked">Alle</label>
                        </div>
                        <div class="radio">
                            <label><input id="radiodiesel" type="radio" name="type" value="diesel">Diesel</label>
                        </div>
                        <div class="radio">
                            <label><input id="radioe10" type="radio" name="type" value="e10">E 10</label>
                        </div>
                        <div class="radio">
                            <label><input id="radioe5" type="radio" name="type" value="e5">Super bleifrei</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="ex1">Reichweite:</label>
                    </div>
                    <div class="col-sm-4">

                        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0.5"
                               data-slider-max="25"
                               data-slider-step="0.5" data-slider-value="5" name="range"/>
                        <span id="ex6SliderVal">5 Km</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="ex1">Optionen:</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label><input type="checkbox" value="opened" name="opened" checked>Nur geöffnete Tankstellen
                            </label>
                        </div>
                    </div>

                </div>
                <div class="form-group" id="sort" hidden>
                    <div class="col-sm-4">
                        <label for="ex1">Sortierung:</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="radio">
                            <label><input type="radio" name="sort" value="distance" checked="checked">Nach Entfernung
                                sortieren</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="sort" value="price">Nach Preis sortieren</label>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="" name="lat" id="lat"/>
                <input type="hidden" value="" name="lng" id="lng"/>
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-default" onclick="loader()">Finden!</button>

                    </div>
                </div>
        </form>
    </div>
    </div>
    <script>
        {# If the user does change the address the hidden form gets deleted to prevent a GPS bug #}
        $('#address').bind('input', function () {
            $('input[name="lat"]').val("");
            $('input[name="lng"]').val("");
        });
        {# If any other then the all radio button gets pressed show the additional sort options #}
        $('#radiodiesel').click(function () {
            if ($(this).is(':enabled')) {
                $("#sort").fadeIn();
            }
        });
        $('#radioe10').click(function () {
            if ($(this).is(':enabled')) {
                $("#sort").fadeIn();
            }
        });
        $('#radioe5').click(function () {
            if ($(this).is(':enabled')) {
                $("#sort").fadeIn();
            }
        });
        $('#radioall').click(function () {
            if ($(this).is(':enabled')) {
                $("#sort").fadeOut();
            }
        });
        {# Range slider #}
        $("#ex1").slider();
        $("#ex1").on("slide", function (slideEvt) {
            $("#ex6SliderVal").text(slideEvt.value + ' Km');
        });
        {# GPS location #}
        var options = {
            enableHighAccuracy: true,
            timeout: 10000,
            maximumAge: 0
        };

        function success(pos) {

            var input = $("#address");

            $.getJSON('/geoloc', {
                lat: pos.coords.latitude,
                lng: pos.coords.longitude
            }, function (data) {
                if (data.result == false) {
                    $("#error").text("ERROR(No valid location found)");
                    $("#error").show();
                } else {
                    $('input[name="lat"]').val(pos.coords.latitude);
                    $('input[name="lng"]').val(pos.coords.longitude);
                    $("#formerror").hide();
                    $("#error").hide();
                    $("#success").show();
                    input.val(data.result);
                }
            });
            $("body").removeClass("loading");
        }
        ;

        function error(err) {
            $("body").removeClass("loading");
            console.warn('ERROR(' + err.code + '): ' + err.message);
            $("#error").text('ERROR(' + err.code + '): ' + err.message + ' - Bitte prüfen Sie ihre GPS Verbindung')
            $("#error").show();
        }
        ;
        function getLocation() {
            loader()
            navigator.geolocation.getCurrentPosition(success, error, options);
        }

        {# Loading spinner #}
        function loader() {
            $("body").addClass("loading");
        }
    </script>




{% endblock %}