{% extends "base.html" %}
{% block title %} - Preisvergleich Ergebnisse{% endblock %}
{% block content %}

    <h1>Preisvergleich - Ergebnisse</h1>
    <div class="panel panel-default panel-transparent">
        <div class="panel-body">
            {# Show address, gas type, range and found station count #}
            <p>Für Ihre Adresse: {{ address }}</p>
            <p>Gewählte Kraftstoffart:
                {% if type == 'all' %}
                    Alle
                {% elif type == 'diesel' %}
                    Diesel
                {% elif type == 'e10' %}
                    E 10
                {% elif type == 'e5' %}
                    Super bleifrei
                {% endif %}
            </p>
            <p>Umkreis von {{ range }} Kilometer</p>
            <p>Gefundene Tankstellen:
                {% if found_stations|length > 0 %}
                    {{ found_stations|length }}
                {% else %}
                    0
                {% endif %}
            </p>
            {# if there are no found gas stations put out an error message #}
            {% if not found_stations %}
                <div class="alert alert-danger" id="error">Leider konnte für Ihre Suche keine Tankstelle gefunden
                    werden. Bitte passen Sie die Suche an.
                </div>
            {% endif %}
            <a href="/comparison/" class="btn btn-default" role="button">Zurück</a>
        </div>
    </div>
    <h3></h3>
    {# for each found station put out a quick overview and a link to gmaps and the detail page #}
    {% if found_stations %}
        {% for station in found_stations %}
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% if station['brand'] %}
                            {% if station['brand']|title in station['name']|title %}
                                {{ station['name']|title }}
                            {% else %}
                                {{ station['brand']|title }} {{ station['name']|title }}
                            {% endif %}
                        {% else %}
                            {{ station['name']|title }}
                        {% endif %}
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Adresse:</p>
                    <p>
                        {{ station['street']|title }}
                        {% if  station['houseNumber'] %}
                            {{ station['houseNumber'] }}
                        {% endif %}
                    </p>
                    <p>{{ station['postCode'] }} {{ station['place']|title }}</p>
                    <p>Marke:
                        {% if station['brand'] %}
                            {{ station['brand']|title }}
                        {% else %}
                            <span class="text-danger">
                        Keine Marke angegeben
                        </span>
                        {% endif %}
                    </p>
                    {% if  type == 'all' %}
                        <table>
                            <tr>
                                <td style="width: 250px">Preis für den Liter Diesel:</td>
                                <td>
                                    {% if station['diesel'] == 0  or station['diesel'] == None %}
                                        <span class="label label-danger">Kein Preis bekannt</span>
                                    {% else %}
                                        {{ station['diesel'] }}€
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 250px">Preis für den Liter E 10:</td>
                                <td>
                                    {% if station['e10'] == 0  or station['e10'] == None %}
                                        <span class="label label-danger">Kein Preis bekannt</span>
                                    {% else %}
                                        {{ station['e10'] }}€
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 250px">Preis für den Liter Super bleifrei:</td>
                                <td>
                                    {% if station['e5'] == 0  or station['e5'] == None %}
                                        <span class="label label-danger">Kein Preis bekannt</span>
                                    {% else %}
                                        {{ station['e5'] }}€
                                    {% endif %}
                                </td>
                            </tr>

                        </table>

                    {% else %}
                        <p>Preis für den Liter {{ type|title }}: {{ station['price'] }}€</p>
                    {% endif %}
                    </br>
                    <p>Entfernung zu Ihrem Standort: {{ station['dist'] }} Kilometer.</p>
                    {% if station['isOpen'] %}
                        <span class="label label-success">Geöffnet</span>
                    {% else %}
                        <span class="label label-danger">Geschlossen</span>
                    {% endif %}
                    <a href="/detail/?id={{ station.id }}&lat={{ lat }}&lng={{ lng }}" class="btn btn-default"
                       role="button" onclick="loader()">Details</a>
                    <a href="https://maps.google.com/maps?saddr={{ lat }},{{ lng }}&daddr={{ station['lat'] }},{{ station['lng'] }}"
                       class="btn btn-default" role="button" target="_blank">In Google Maps als Route öffnen</a>

                </div>
            </div>
        {% endfor %}
    {% endif %}
    {# Loading spinner #}
    <script>
        function loader() {
            $("body").addClass("loading");
        }
    </script>
{% endblock %}