{% extends "base.html" %}
{% block title %} - Feedback und Kontakt {% endblock %}
{% block content %}
    <div class="col-md-8">
    <h1>Feedback und Kontakt</h1>
    {% if success %}
        <p>Danke für Ihre Nachricht. Wir melden uns so schnell wie möglich bei Ihnen.</p>
    {% else %}
        <form action="{{ url_for('contact') }}" method=post class="form-horizontal">
            <div class="form-group">
                {{ form.hidden_tag() }}
                <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                    {{ form.name.label(class="col-sm-4") }}
                    <div class="col-sm-4">
                        {{ form.name(placeholder="Ihr Name", class="form-control") }}
                    </div>
                    <p class="col-sm-5 help-block">
                        {{ form.name.errors[0] }}
                </div>
                <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                    {{ form.email.label(class="col-sm-4") }}
                    <div class="col-sm-4">
                        {{ form.email(placeholder="mail@example.com", class="form-control") }}
                    </div>
                    <p class="col-sm-5 help-block">
                        {{ form.email.errors[0] }}
                </div>
                <div class="form-group {% if form.message.errors %} has-error {% endif %}">
                    {{ form.message.label(class="col-sm-4") }}
                    <div class="col-sm-4">
                        {{ form.message(placeholder="Ihre Nachricht", class="form-control", style="height: 25vh") }}
                    </div>
                    <p class="col-sm-5 help-block">
                        {{ form.message.errors[0] }}
                </div>
                <button class="btn btn-default" type="submit">Absenden</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}