{% extends "base.html" %}
{% block title %} - Details zur Tankstelle {% endblock %}
{% block head_block %}
    <script type="text/javascript" src="/static/js/pygal-tooltips.min.js"></script>
{% endblock %}
{% block content %}

    {# Show brand + name #}
    <h1>
        {% if details['brand']|title in details['name']|title %}
            Details für {{ details['name']|title }}
        {% else %}
            Details für {{ details['brand'] }} {{ details['name']|title }}
        {% endif %}
    </h1>
    {# Show the opening times or the 24h open label #}
    <div class="row">
        <div class="col-md-4">
            <h3>Öffnungszeiten: </h3>
            {% if details['wholeDay'] == True %}
                <p>24 Stunden geöffnet.</p>
            {% else %}
                <table>
                    <thead>
                    <tr>
                        <td style="padding-right: 100px">Tage</td>
                        <td style="width: 100px">Offen ab</td>
                        <td style="width: 120px">Geschlossen ab</td>
                    </tr>
                    </thead>
                    {% for opening in details['openingTimes'] %}
                        <tr>
                            <td>{{ opening['text'] }}</td>
                            <td>{{ opening['start']|timestamp }} Uhr</td>
                            <td>{{ opening['end']|timestamp }} Uhr</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if details['isOpen'] %}
                <span class="label label-success">Geöffnet</span>
            {% else %}
                <span class="label label-danger">Geschlossen</span>
            {% endif %}
        </div>
    </div>
    {# Show the current, yesterdays and two days ago price list #}
    {# The prices getting labled depending on their pricing compared to the days before #}
    <div class="row">
        <div class="col-md-7">
            <h3>Aktuelle Preisliste:</h3>
            <table class="table">
                <thead>
                <tr>
                    <td>Typ</td>
                    <td>Preis</td>
                    <td>Preis &empty; gestern</td>
                    <td>Preis &empty; vorgestern</td>
                    <td>Preis &empty; 7 Tage</td>
                </tr>
                </thead>
                <tr>
                    <td style="width: 100px">Diesel</td>
                    <td style="width: 60px">
                        {% if details['diesel'] == 0  or details['diesel'] == None %}
                        <span class="label label-danger">unbekannt</span>
                        {% else %}
                        {% if diesel_avg_price_yesterday != None %}
                            {% if diesel_avg_price_yesterday >= diesel_now %}
                                <span class="label label-success">{{ details['diesel'] }}€</span>
                            {% else %}
                                <span class="label label-danger">{{ details['diesel'] }}€</span>
                            {% endif %}
                        {% else %}
                            {% if diesel_avg_price >= diesel_now %}
                                <span class="label label-success">{{ details['diesel'] }}€</span>
                            {% else %}
                                <span class="label label-danger">{{ details['diesel'] }}€</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </td>
                    <td style="width: 80px">
                        {% if diesel_avg_price_yesterday == 0 or diesel_avg_price_yesterday == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if diesel_avg_price_yesterday <= diesel_now %}
                                <span class="label label-success">{{ "{:,.3f}€".format(diesel_avg_price_yesterday) }}</span>
                            {% else %}
                                <span class="label label-danger">{{ "{:,.3f}€".format(diesel_avg_price_yesterday) }}</span>
                            {% endif %}

                        {% endif %}
                    </td>
                    <td style="width: 100px">
                        {% if diesel_avg_prices_two_days_ago == 0 or diesel_avg_prices_two_days_ago == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if diesel_avg_prices_two_days_ago <= diesel_now %}
                                <span class="label label-success">{{ "{:,.3f}€".format(diesel_avg_prices_two_days_ago) }}</span>
                            {% else %}
                                <span class="label label-danger">{{ "{:,.3f}€".format(diesel_avg_prices_two_days_ago) }}</span>
                            {% endif %}

                        {% endif %}
                    </td>
                    <td style="width: 100px">
                        {% if diesel_avg_price == 0 or diesel_avg_price == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if diesel_avg_price <= diesel_now %}
                                <span class="label label-success">{{ "{:,.3f}€".format(diesel_avg_price) }}</span>
                            {% else %}
                                <span class="label label-danger">{{ "{:,.3f}€".format(diesel_avg_price) }}</span>
                            {% endif %}

                        {% endif %}
                    </td>
                </tr>
                </tr>
                <tr>
                    <td style="width: 100px">E 10</td>
                    <td style="width: 60px">
                        {% if details['e10'] == 0 or details['e10'] == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if e10_avg_price_yesterday != None %}
                                {% if e10_avg_price_yesterday >= e10_now %}
                                    <span class="label label-success">{{ details['e10'] }}€</span>
                                {% else %}
                                    <span class="label label-danger">{{ details['e10'] }}€</span>
                                {% endif %}
                            {% else %}
                                {% if e10_avg_price >= e10_now %}
                                    <span class="label label-success">{{ details['e10'] }}€</span>
                                {% else %}
                                    <span class="label label-danger">{{ details['e10'] }}€</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="width: 80px">
                        {% if e10_avg_price_yesterday == 0 or e10_avg_price_yesterday == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if e10_avg_price_yesterday <= e10_now %}
                                <span class="label label-success">{{ "{:,.3f}€".format(e10_avg_price_yesterday) }}</span>
                            {% else %}
                                <span class="label label-danger">{{ "{:,.3f}€".format(e10_avg_price_yesterday) }}</span>
                            {% endif %}

                        {% endif %}
                    </td>
                    <td style="width: 100px">
                        {% if e10_avg_prices_two_days_ago == 0 or e10_avg_prices_two_days_ago == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if e10_avg_prices_two_days_ago <= e10_now %}
                                <span class="label label-success">{{ "{:,.3f}€".format(e10_avg_prices_two_days_ago) }}</span>
                            {% else %}
                                <span class="label label-danger">{{ "{:,.3f}€".format(e10_avg_prices_two_days_ago) }}</span>
                            {% endif %}

                        {% endif %}
                    </td>
                    <td style="width: 100px">
                        {% if e10_avg_price == 0 or e10_avg_price == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if e10_avg_price <= e10_now %}
                                <span class="label label-success">{{ "{:,.3f}€".format(e10_avg_price) }}</span>
                            {% else %}
                                <span class="label label-danger">{{ "{:,.3f}€".format(e10_avg_price) }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                </tr>
                <tr>
                    <td style="width: 100px">Super bleifrei</td>
                    <td style="width: 60px">
                        {% if details['e5'] == 0 or details['e5'] == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if e5_avg_price_yesterday != None %}
                                {% if e5_avg_price_yesterday >= e5_now %}
                                    <span class="label label-success">{{ details['e5'] }}€</span>
                                {% else %}
                                    <span class="label label-danger">{{ details['e5'] }}€</span>
                                {% endif %}
                            {% else %}
                                {% if e5_avg_price >= e5_now %}
                                    <span class="label label-success">{{ details['e5'] }}€</span>
                                {% else %}
                                    <span class="label label-danger">{{ details['e5'] }}€</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="width: 80px">
                        {% if e5_avg_price_yesterday == 0 or e5_avg_price_yesterday == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if e5_avg_price_yesterday <= e5_now %}
                                <span class="label label-success">{{ "{:,.3f}€".format(e5_avg_price_yesterday) }}</span>
                            {% else %}
                                <span class="label label-danger">{{ "{:,.3f}€".format(e5_avg_price_yesterday) }}</span>
                            {% endif %}

                        {% endif %}
                    </td>
                    <td style="width: 100px">
                        {% if e5_avg_prices_two_days_ago == 0 or e5_avg_prices_two_days_ago == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if e5_avg_prices_two_days_ago <= e5_now %}
                                <span class="label label-success">{{ "{:,.3f}€".format(e5_avg_prices_two_days_ago) }}</span>
                            {% else %}
                                <span class="label label-danger">{{ "{:,.3f}€".format(e5_avg_prices_two_days_ago) }}</span>
                            {% endif %}

                        {% endif %}
                    </td>
                    <td style="width: 100px">
                        {% if e5_avg_price == 0 or e5_avg_price == None %}
                            <span class="label label-danger">unbekannt</span>
                        {% else %}
                            {% if e5_avg_price <= e5_now %}
                                <span class="label label-success">{{ "{:,.3f}€".format(e5_avg_price) }}</span>
                            {% else %}
                                <span class="label label-danger">{{ "{:,.3f}€".format(e5_avg_price) }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
            </table>


        </div>
    </div>
    {# Show the cheapest daytime to refuel #}
    <div class="row">
        <div class="col-md-7">
            <h3>Günstige Tageszeiten zum Tanken:</h3>
            <div class="row">
                <div class="col-md-4">
                    <h4>Gestern:</h4>
                    <table>
                        <tr>
                            <td style="width: 100px">Diesel:</td>
                            <td>{{ cheapest_daytime_yesterday['diesel'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 100px">E 10:</td>
                            <td>{{ cheapest_daytime_yesterday['e10'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 100px">Super bleifrei:</td>
                            <td>{{ cheapest_daytime_yesterday['e5'] }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <h4>Vorgestern:</h4>
                    <table>
                        <tr>
                            <td style="width: 100px">Diesel:</td>
                            <td>{{ cheapest_daytime_two_days_ago['diesel'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 100px">E 10:</td>
                            <td>{{ cheapest_daytime_two_days_ago['e10'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 100px">Super bleifrei:</td>
                            <td>{{ cheapest_daytime_two_days_ago['e5'] }}</td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>
    {# A quick explaination for the user #}
    <div class="row top-buffer">
        <div class="col-md-6">
            <div class="collapse" id="collapse20">
                <p>Der günstigste Preis wird jeweils
                    <span class="label label-success">grün</span>
                    und der teuerste in
                    <span class="label label-danger">rot</span>
                    hervorgehoben.</p>
                <p>Unbekannt bedeutet, dass leider keine Daten von der Schnittstelle übermittelt wurden.</p>
                <table>
                    <tr>
                        <td style="width: 100px">Morgens:</td>
                        <td>Zwischen 6 und 10 Uhr</td>
                    </tr>
                    <tr>
                        <td>Vormittags:</td>
                        <td>Zwischen 10 und 12 Uhr</td>
                    </tr>
                    <tr>
                        <td>Mittags:</td>
                        <td>Zwischen 12 und 13 Uhr</td>
                    </tr>
                    <tr>
                        <td>Nachmittags:</td>
                        <td>Zwischen 14 und 15 Uhr</td>
                    </tr>
                    <tr>
                        <td>Abends:</td>
                        <td>Zwischen 16 und 22 uhr</td>
                    </tr>
                    <tr>
                        <td>Nachts:</td>
                        <td>Zwischen 23 und 5 Uhr</td>
                    </tr>
                </table>
            </div>
            <a class="btn btn-default" data-toggle="collapse" data-target="#collapse20">Erklärung</a>
        </div>
    </div>
    {# Show the Google Maps map #}
    <div class="row">
        <div class="col-md-4">
            <h3>Maps:</h3>
            <script src='https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}'></script>
            <div class="embed-responsive embed-responsive-16by9" style="height: 50vh; width: 60vh;">
                <div class="embed-responsive-item" id='gmap_canvas'></div>
                <style>#gmap_canvas img {
                    max-width: none !important;
                    background: none !important
                }</style>
            </div>

            <script type='text/javascript'>function init_map() {
                var myOptions = {
                    zoom: 15,
                    center: new google.maps.LatLng('{{ details['lat'] }}', '{{ details['lng'] }}'),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                marker = new google.maps.Marker({
                    map: map,
                    position: new google.maps.LatLng('{{ details['lat'] }}', '{{ details['lng'] }}')
                });
                if ('{{ details['name']|title }}'.indexOf('{{ details['brand']|title }}') > -1) {
                    st_name = '{{ details['name']|title }}';
                } else {
                    st_name = '{{ details['brand']|title }}' + ' ' + '{{ details['name']|title }}';
                }

                infoname = st_name
                        .replace('{{details['street']|title }}', '')
                        .replace('{{details['houseNumber']|title }}', '');
                infocontent = '<div style="color: black">' + infoname +
                        '</br>{{details['street']|title }}' +
                        ' {% if  details['houseNumber']%}{{details['houseNumber']|title }}{% endif %}' +
                        '</br>{{details['postCode'] }} {{details['place']|title }}' + '</div>';
                infowindow = new google.maps.InfoWindow({content: infocontent});
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
                infowindow.open(map, marker);
            }
            google.maps.event.addDomListener(window, 'load', init_map);</script>
            {# Open in Google Maps button #}
            <a href="https://maps.google.com/maps?saddr={{ lat }},{{ lng }}&daddr={{ details['lat'] }},{{ details['lng'] }}"
               class="btn btn-default" role="button" target="_blank">In Google Maps als Route öffnen</a>
        </div>
    </div>
    {# Show the graphs #}
    <div class="row">
        <div class="col-md-8">
            <h3>Statistiken für
                {% if details['brand']|title in details['name']|title %}
                    {{ details['name']|title }}
                {% else %}
                    {{ details['brand'] }} {{ details['name']|title }}
                {% endif %}
                :</h3>
            <div class="collapse" id="collapse30">
                <h4>Preis für <b>Diesel</b> in den letzten 7 Tagen</h4>
                {{ diesel_chart.render()|safe }}
                <h4>Preis für <b>E10</b> in den letzten 7 Tagen</h4>
                {{ e10_chart.render()|safe }}
                <h4>Preis für <b>Super bleifrei</b> in den letzten 7 Tagen</h4>
                {{ e5_chart.render()|safe }}
            </div>
            <a class="btn btn-default" data-toggle="collapse" data-target="#collapse30">Auf-/zuklappen</a>
        </div>
    </div>
{% endblock %}