{% extends "base.html" %}
{% block title %} - Über diese Seite {% endblock %}
{% block content %}

    <h1>Fehler</h1>
    <div class="alert alert-danger">
    <p>Es trat ein Fehler auf. Folgendes wurde vom Backend zurückgegeben:</p>
    <p>{{ msg }}</p>
    </div>
    <p>Falls der Fehler wiederholt auftritt, melden Sie sich bitte über das <a href="{{ url_for('contact') }}">Kontaktformular</a>.</p>






{% endblock %}