{% extends "base.html" %}
{% block title %} - Legal Disclosure & Privacy{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h1>Impressum</h1>
        Angaben gem&auml;&szlig; &sect; 5 TMG
        <br/><br/>
        Sven Soost
        <br/>
        <h2>Kontakt</h2>
        <br/>
        <a href="mailto:tanken@0x05.de">tanken@0x05.de</a> oder <a href="{{ url_for('contact') }}"> Kontaktformular.</a>
        <br/>
        <h2>Quellenangaben f&uuml;r die verwendeten Bilder und Grafiken</h2>
        <p><a href="http://skitterphoto.com/?portfolio=petrol-refill" target="_blank">Hintergrundbild</a></p>
        <p><a href="http://www.iconarchive.com/show/beautiful-flat-one-color-icons-by-elegantthemes/gas-icon.html"
              target="_blank">Favicon</a></p>
        <p><a href="http://loading.io/" target="_blank">Loading Spinner</a></p>
        <br/>
        <h2>Haftungsausschluss</h2>
        <h4>Haftung f&uuml;r Inhalte</h4>
        <p>
            Die Inhalte unserer Seiten wurden mit gr&ouml;&szlig;ter Sorgfalt erstellt. F&uuml;r
            die Richtigkeit, Vollst&auml;ndigkeit und Aktualit&auml;t der Inhalte k&ouml;nnen wir jedoch keine Gew&auml;hr
            &uuml;bernehmen. Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene Inhalte
            auf
            diesen
            Seiten nach den allgemeinen Gesetzen verantwortlich. Nach &sect;&sect; 8 bis 10 TMG sind wir als
            Diensteanbieter
            jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu &uuml;berwachen oder
            nach
            Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen. Verpflichtungen zur
            Entfernung
            oder
            Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt. Eine
            diesbez
            &uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich.
            Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
        <h4>Haftung f&uuml;r Links</h4>
        <p>
            Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter, auf deren Inhalte wir
            keinen Einfluss haben. Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;
            bernehmen. F&uuml;r die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
            Seiten
            verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche
            Rechtsverst&ouml;&szlig;e &uuml;berpr&uuml;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung
            nicht erkennbar. Eine permanente
            inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung
            nicht
            zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
        <h4>Urheberrecht</h4>
        <p>
            Die durch die Seitenbetreiber erstellten bzw. verwendeten Inhalte und Werke auf diesen Seiten
            unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der
            Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der Zustimmung des jeweiligen Autors
            bzw.
            Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch
            gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
            Dritter
            beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
            Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
            Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
        <h2>Datenschutzerkl&auml;rung</h2>
        <h4>Allgemeines</h4>
        <p>
            Ihre personenbezogenen Daten (z.B. Anrede, Name, Anschrift, E-Mail-Adresse, Telefonnummer,
            Bankverbindung, Kreditkartennummer) werden von uns nur gem&auml;&szlig; den Bestimmungen des deutschen
            Datenschutzrechts verarbeitet. Die nachfolgenden Vorschriften informieren Sie &uuml;ber Art, Umfang und
            Zweck
            der Erhebung, Verarbeitung und Nutzung personenbezogener Daten. Diese Datenschutzerkl&auml;rung bezieht sich
            nur
            auf unsere Webseiten. Falls Sie &uuml;ber Links auf unseren Seiten auf andere Seiten weitergeleitet werden,
            informieren Sie sich bitte dort &uuml;ber den jeweiligen Umgang mit Ihren Daten.</p>
        <h4>Bestandsdaten</h4>
        <p>
            (1) Ihre personenbezogenen Daten, soweit diese f&uuml;r die Begr&uuml;ndung, inhaltliche
            Ausgestaltung oder &Auml;nderung des Vertragsverh&auml;ltnisses erforderlich sind (Bestandsdaten), werden
            ausschlie&szlig;lich zur Vertragsabwicklung verwendet. So muss z.B. zur Zustellung der Waren Ihr Name und
            Ihre
            Anschrift an den Warenlieferanten weitergegeben werden.</p>
        <p>
            (2) Ohne Ihre ausdr&uuml;ckliche Einwilligung oder
            ohne gesetzliche Grundlage werden Ihre personenbezogenen Daten nicht an au&szlig;erhalb der
            Vertragsabwicklung
            stehende Dritte weitergegeben. Nach vollst&auml;ndiger Vertragsabwicklung werden Ihre Daten f&uuml;r die
            weitere
            Verwendung gesperrt. Nach Ablauf der steuer- und handelsrechtlichen Vorschriften werden diese Daten
            gel&ouml;scht, sofern Sie nicht ausdr&uuml;cklich in die weitere Nutzung eingewilligt haben.</p>
        <h2>Webanalyse mit Google Analytics</h2>
        <p>
            Diese Website benutzt Google Analytics, einen Webanalysedienst der
            Google Inc. (Google). Google Analytics verwendet sog.Cookies, Textdateien, die auf Ihrem Computer
            gespeichert
            werden und die eine Analyse der Benutzung der Website durch Sie erm&ouml;glichen. Die durch den Cookie
            erzeugten
            Informationen &uuml;ber Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den
            USA &uuml;bertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser
            Webseite,
            wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europ&auml;ischen Union oder in
            anderen
            Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen Wirtschaftsraum zuvor gek&uuml;rzt. Nur in
            Ausnahmef&auml;llen wird die volle IP-Adresse an einen Server von Google in den USA &uuml;bertragen und dort
            gek&uuml;rzt.
            Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der
            Website
            auszuwerten, um Reports &uuml;ber die Websiteaktivit&auml;ten zusammenzustellen und um weitere mit der
            Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegen&uuml;ber dem Websitebetreiber zu
            erbringen. Die im Rahmen von Google Analytics von Ihrem Browser &uuml;bermittelte IP-Adresse wird nicht mit
            anderen Daten von Google zusammengef&uuml;hrt. Sie k&ouml;nnen die Speicherung der Cookies durch eine
            entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in
            diesem Fall gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website vollumf&auml;nglich werden nutzen
            k&ouml;nnen.
            Sie k&ouml;nnen dar&uuml;ber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der
            Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google
            verhindern, indem Sie das unter dem folgenden Link verf&uuml;gbare Browser-Plugin herunterladen und
            installieren:
            <a href="http://tools.google.com/dlpage/gaoptout?hl=de"
               target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a>
        </p>
        <h2>Informationen &uuml;ber Cookies</h2>
        <p>
            (1) Zur Optimierung unseres Internetauftritts setzen wir Cookies ein. Es
            handelt sich dabei um kleine Textdateien, die im Arbeitsspeicher Ihres Computers gespeichert werden. Diese
            Cookies werden nach dem Schlie&szlig;en des Browsers wieder gel&ouml;scht. Andere Cookies verbleiben auf
            Ihrem
            Rechner (Langzeit-Cookies) und erkennen ihn beim n&auml;chsten Besuch wieder. Dadurch k&ouml;nnen wir Ihnen
            einen besseren Zugang auf unsere Seite erm&ouml;glichen.</p>
        <p>
            (2) Das Speichern von Cookies k&ouml;nnen Sie
            verhindern, indem Sie in Ihren Browser-Einstellungen &quot;Cookies blockieren&quot; w&auml;hlen. Dies kann
            aber
            eine Funktionseinschr&auml;nkung unserer Angebote zur Folge haben.</p>
        <h2>Auskunft</h2>
        <p>
            Nach dem Bundesdatenschutzgesetz haben Sie ein Recht auf unentgeltliche Auskunft &uuml;ber Ihre
            gespeicherten Daten sowie ggf. ein Recht auf Berichtigung, Sperrung oder L&ouml;schung dieser Daten. Fragen
            k&ouml;nnen
            Sie z.B. &uuml;ber die folgende E-Mail-Adresse stellen: ( <a href="mailto:tanken@0x05.de">tanken@0x05.de</a>
            )
        </p>
        <p><i>Quelle: </i><a href="http://www.muster-vorlagen.net/" target="_blank">http://www.muster-vorlagen.net</a>
        </p>
    </div>
{% endblock %}